<div class="add-contact-page"><h1>Add Contact</h1>

<form action="<%= showing_or_contact_create_contact_url %>" method="post">

  <input
    name="authenticity_token"
    type="hidden"
    value="<%= form_authenticity_token %>">
<% property = @properties.first %>
<input type="radio" name="contact[property_id]" value="<%= property.id %>" checked> <%= property.address %> <%= property.floor %> Floor <br>


<% @properties[1..-1].each do |property| %>
  <input type="radio" name="contact[property_id]" value="<%= property.id %>"> <%= property.address %> <%= property.floor %> Floor <br>
<% end %>
<br>

  <input
    class="add-showing-input"
    id="contact_name"
    name="contact[name]"
    type="text"
    placeholder="Name">
  <br>

  <input
    class="add-showing-input"
    id="contact_title"
    name="contact[title]"
    type="text"
    placeholder="Title">
  <br>

  <input
    class="add-showing-input"
    id="contact_email"
    name="contact[email]"
    type="text"
    placeholder="Email">
  <br>

  <input
    class="add-showing-input"
    id="contact_company"
    name="contact[company]"
    type="text"
    placeholder="Company">
  <br>

  <input
    class="add-showing-input"
    id="contact_phone"
    name="contact[phone]"
    type="text"
    placeholder="Phone">
  <br><br>


  <input type="submit" value="Submit New Contact" class="btn btn-default">
</form>

<br><br><br><h1>Add Showing</h1>

<form action="<%= showing_or_contact_create_showing_url %>" method="post">

  <input
    name="authenticity_token"
    type="hidden"
    value="<%= form_authenticity_token %>">
<% property = @properties.first %>
<input type="radio" name="showing[property_id]" value="<%= property.id %>" checked> <%= property.address %> <%= property.floor %> Floor <br>


<% @properties[1..-1].each do |property| %>
  <input type="radio" name="showing[property_id]" value="<%= property.id %>"> <%= property.address %> <%= property.floor %> Floor <br>
<% end %>
<br>

  <input
    class="add-showing-input"
    id="showing_name"
    name="showing[name]"
    type="text"
    placeholder="Name">
  <br>

  <input
    class="add-showing-input"
    id="showing_title"
    name="showing[title]"
    type="text"
    placeholder="Title">
  <br>

  <input
    class="add-showing-input"
    id="showing_email"
    name="showing[email]"
    type="text"
    placeholder="Email">
  <br>

  <input
    class="add-showing-input"
    id="showing_company"
    name="showing[company]"
    type="text"
    placeholder="Company">
  <br>

  <input
    class="add-showing-input"
    id="showing_phone"
    name="showing[phone]"
    type="text"
    placeholder="Phone">
  <br><br>


  <input type="submit" value="Submit New Showing" class="btn btn-default">
</form>




</div>

<br><br><br><br>