<center><h1>Add Property</h1>


<%= form_for @property, :url => properties_path, :html => { :multipart => true } do |form| %>

  <input
    name="authenticity_token"
    type="hidden"
    value="<%= form_authenticity_token %>">

  <input
    name="property[user_id]"
    type="hidden"
    value="<%= current_user.id %>">

  <input
    class="add-property-input"
    id="property_address"
    name="property[address]"
    type="text"
    placeholder="Address, ex: 462 Broadway">
  <br>

  <input
    class="add-property-input"
    id="property_floor"
    name="property[floor]"
    type="text"
    placeholder="Floor, ex: 1st/2nd/3rd/4th">
  <br>

  <input
    class="add-property-input"
    id="property_asking_rent"
    name="property[asking_rent]"
    type="number"
    placeholder="Asking Rent in unit $ Psf/yr, ex: 56">
  <br>

  <input
    class="add-property-input"
    id="property_rsf_available"
    name="property[rsf_available]"
    type="number"
    placeholder="RSF Available in unit SF, ex: 12500">
  <br><br>
  <b>Floor Plan Picture </b>
  <%= form.file_field :floorplan %>
  <br>

  <b>Main Picture</b>
  <%= form.file_field :picture %>
  <br><br>

  <input type="submit" value="Submit New Property" class="btn btn-default">
<% end %>
</center>