<div class="pos-neg-lev">

<h1>Positive Vs Negative Leverage</h1>

<form action="<%= pos_neg_leverage_update_url %>" method="post">
  <input
    name="_method"
    type="hidden"
    value="put">
  <input
    name="authenticity_token"
    type="hidden"
    value="<%= form_authenticity_token %>">

  <label for="pos_neg_leverage_purchase_price">Purchase Price</label><br>
  &#36; <input
    id="pos_neg_leverage_purchase_price"
    name="pos_neg_leverage[purchase_price]"
    type="number"
    value="<%= @pos_neg_leverage.purchase_price %>"><br><br>

  <label for="pos_neg_leverage_cap_rate">Cap Rate</label><br>
  <input
    id="pos_neg_leverage_cap_rate"
    name="pos_neg_leverage[cap_rate]"
    type="number"
    step="0.01"
    value="<%= @pos_neg_leverage.cap_rate %>"> &#37;<br><br>

  <label for="pos_neg_leverage_loan_amount">Loan Amount</label><br>
  &#36; <input
    id="pos_neg_leverage_loan_amount"
    name="pos_neg_leverage[loan_amount]"
    type="number"
    value="<%= @pos_neg_leverage.loan_amount %>"><br><br>

  <label for="pos_neg_leverage_low_interest_rate">Low Interest Rate</label><br>
  <input
    id="pos_neg_leverage_low_interest_rate"
    name="pos_neg_leverage[low_interest_rate]"
    type="number"
    step="0.01"
    value="<%= @pos_neg_leverage.low_interest_rate %>"> &#37;<br><br>

  <label for="pos_neg_leverage_high_interest_rate">High Interest Rate</label><br>
  <input
    id="pos_neg_leverage_high_interest_rate"
    name="pos_neg_leverage[high_interest_rate]"
    type="number"
    step="0.01"
    value="<%= @pos_neg_leverage.high_interest_rate %>"> &#37;<br><br>

  <label for="pos_neg_leverage_interest_only">Interest Only</label><br>
  <input
    id="pos_neg_leverage_interest_only"
    name="pos_neg_leverage[interest_only]"
    type="text"
    value="<%= (@pos_neg_leverage.interest_only ? "Yes":"No") %>"><br><br>

  <label for="pos_neg_leverage_amortization">Amortization</label><br>
  <input
    id="pos_neg_leverage_amortization"
    name="pos_neg_leverage[amortization]"
    type="number"
    value="<%= @pos_neg_leverage.amortization %>"> yrs<br><br>

  <input type="submit" value="Update" class="btn btn-default">

</form>

<br><br>

<table class="table table-striped table-bordered table-condensed">
  <tr>
    <td class="left-column-pos-neg"><b>Investment &#64; <%= @pos_neg_leverage.cap_rate %>&#37; Cap Rate</b><br></td>
    <td class="left-column-pos-neg"></td>
    <td class="left-column-pos-neg">&#36;<%= @pos_neg_leverage.purchase_price %></td>
    <td class="left-column-pos-neg"></td>
  </tr>
  <tr>
    <td class="left-column-pos-neg"><b>Leveraged vs. Unleveraged</b></td>
    <td>Borrow &#36;<%= @pos_neg_leverage.loan_amount %> &#64; <%= @pos_neg_leverage.low_interest_rate %>&#37; Interest</td>
    <td>Borrow Nothing</td>
    <td>Borrow &#36;<%= @pos_neg_leverage.loan_amount %> &#64; <%= @pos_neg_leverage.high_interest_rate %>&#37; Interest</td>
  <tr>
  <tr>
    <td class="left-column-pos-neg"><b>Net Operating Income</b></td>
    <td>&#36;<%= @pos_neg_leverage.net_operating_income %></td>
    <td>&#36;<%= @pos_neg_leverage.net_operating_income %></td>
    <td>&#36;<%= @pos_neg_leverage.net_operating_income %></td>
  </tr>
  <tr>
    <td class="left-column-pos-neg"><b>Debt Service Payments</b></td>
    <td>&#36;<%= @pos_neg_leverage.debt_service_low_interest_rate %></td>
    <td>&#36;0</td>
    <td>&#36;<%= @pos_neg_leverage.debt_service_high_interest_rate %></td>
  </tr>
  <tr>
    <td class="left-column-pos-neg"><b>Cash Flow</b></td>
    <td>&#36;<%= @pos_neg_leverage.cash_flow_low_interest_rate %></td>
    <td>&#36;<%= @pos_neg_leverage.net_operating_income %></td>
    <td>&#36;<%= @pos_neg_leverage.cash_flow_high_interest_rate %></td>
  </tr>
  <tr>
    <td class="left-column-pos-neg"><b>Cash on Cash (Income Earned / Initial Investment)</b></td>
    <td>&#36;<%= @pos_neg_leverage.cash_flow_low_interest_rate_k %>K/&#36;<%= @pos_neg_leverage.down_payment_k %>K = <%= @pos_neg_leverage.cash_on_cash_low_interest_rate %>&#37;</td>
    <td>&#36;<%= @pos_neg_leverage.net_operating_income_k %>K/&#36;<%= @pos_neg_leverage.purchase_price_k %>K = <%= @pos_neg_leverage.cap_rate %>&#37;</td>
    <td>&#36;<%= @pos_neg_leverage.cash_flow_high_interest_rate_k %>K/&#36;<%= @pos_neg_leverage.down_payment_k %>K = <%= @pos_neg_leverage.cash_on_cash_high_interest_rate %>&#37;</td>
  </tr>

</table>





</div>

<br><br><br>