<div class="pos-neg-lev">

<h1>Positive vs. Negative Leverage</h1>



<div class="diagram">
<form action="<%= pos_neg_leverage_update_url %>" method="post">
  <input
    name="_method"
    type="hidden"
    value="put">
  <input
    name="authenticity_token"
    type="hidden"
    value="<%= form_authenticity_token %>">

<div class="top-box">
  <div class="purchase-price">

    <label for="pos_neg_leverage_purchase_price">Purchase Price</label><br>
    &#36; <input
      id="pos_neg_leverage_purchase_price"
      name="pos_neg_leverage[purchase_price]"
      type="number"
      step="1"
      value="<%= @pos_neg_leverage.purchase_price.to_i %>"><br><br>

  </div>
  <div class="loan-amount">

    <label for="pos_neg_leverage_loan_amount">Loan Amount</label><br>
    &#36; <input
      id="pos_neg_leverage_loan_amount"
      name="pos_neg_leverage[loan_amount]"
      type="number"
      step="1"
      value="<%= @pos_neg_leverage.loan_amount.to_i %>"><br><br>

  </div>
  <div class="interest-only">

  <label for="pos_neg_leverage_interest_only">Interest Only</label><br>

  <input type="radio" name="pos_neg_leverage[interest_only]" value="Yes" <%= "checked" if @pos_neg_leverage.interest_only %>> Yes&nbsp;&nbsp;&nbsp;
  <input type="radio" name="pos_neg_leverage[interest_only]" value="No" <%= "checked" unless @pos_neg_leverage.interest_only %>> No

</div>
</div>
<div class="top-box">
  <div class="cap-rate">

    <label for="pos_neg_leverage_cap_rate">Cap Rate</label><br>
    <input
      id="pos_neg_leverage_cap_rate"
      name="pos_neg_leverage[cap_rate]"
      type="number"
      step="0.01"
      value="<%= @pos_neg_leverage.cap_rate %>"> &#37;<br><br>

  </div>
  <div class="low-interest-rate">

    <label for="pos_neg_leverage_low_interest_rate">Low Interest Rate</label><br>
    <input
      id="pos_neg_leverage_low_interest_rate"
      name="pos_neg_leverage[low_interest_rate]"
      type="number"
      step="0.01"
      value="<%= @pos_neg_leverage.low_interest_rate %>"> &#37;<br><br>

  </div>
  <div class="high-interest-rate">

    <label for="pos_neg_leverage_high_interest_rate">High Interest Rate</label><br>
    <input
      id="pos_neg_leverage_high_interest_rate"
      name="pos_neg_leverage[high_interest_rate]"
      type="number"
      step="0.01"
      value="<%= @pos_neg_leverage.high_interest_rate %>"> &#37;<br><br>

  </div>
  <div class="amortization">

    <label for="pos_neg_leverage_amortization">Amortization</label><br>
    <input
      id="pos_neg_leverage_amortization"
      name="pos_neg_leverage[amortization]"
      type="number"
      value="<%= @pos_neg_leverage.amortization %>"> yrs<br><br>

  </div>
</div>

<br>

<center><input type="submit" id="pos-neg-submit" value="Update" class="btn btn-default"></center>
</form>
<br>

<div class="top-box">
  <div class="inner">Investment @ <%= @pos_neg_leverage.cap_rate %>% Cap Rate</div>
  <div class="investment-top">&#36;<%= @pos_neg_leverage.purchase_price.to_i %></div>
</div>
<div class="top-box">
  <div class="inner4">Leveraged (Borrowing) vs. Unleveraged</div>
  <div class="middle">Borrow <br>Nothing</div>
  <div class="left">&#36;<%= @pos_neg_leverage.loan_amount.to_i %> &#64;<br><font color="black"><%= @pos_neg_leverage.low_interest_rate %>&#37;</font> Interest</div>
  <div class="right">&#36;<%= @pos_neg_leverage.loan_amount.to_i %> &#64;<br><font color="black"><%= @pos_neg_leverage.high_interest_rate %>&#37;</font> Interest</div>
</div>
<div class="top-box">
  <div class="inner">Net Operating <br>Income</div>
  <div class="investment">&#36;<%= @pos_neg_leverage.net_operating_income.to_i %></div>
  <div class="left2">&#36;<%= @pos_neg_leverage.net_operating_income.to_i %></div>
  <div class="right2">&#36;<%= @pos_neg_leverage.net_operating_income.to_i %></div>
</div>
<div class="top-box">
  <div class="inner">Debt Service <br>Payments</div>
  <div class="investment">$0</div>
  <div class="left2">&#36;<%= @pos_neg_leverage.debt_service_low_interest_rate.to_i %></div>
  <div class="right2">&#36;<%= @pos_neg_leverage.debt_service_high_interest_rate.to_i %></div>
</div>
<div class="top-box">
  <div class="inner2">Cash Flow</div>
  <div class="investment2">&#36;<%= @pos_neg_leverage.net_operating_income.to_i %></div>
  <div class="left3">&#36;<%= @pos_neg_leverage.cash_flow_low_interest_rate.to_i %></div>
  <div class="right3">&#36;<%= @pos_neg_leverage.cash_flow_high_interest_rate.to_i %></div>
</div>
<div class="top-box">
  <div class="inner3">Cash on Cash <br>(Income Earned / <br>Initial Investment)</div>
  <div class="middle-result"><%= @pos_neg_leverage.cap_rate %>&#37;</div>
  <div class="left-result"><%= @pos_neg_leverage.cash_on_cash_low_interest_rate %>&#37;</div>
  <div class="right-result"><%= @pos_neg_leverage.cash_on_cash_high_interest_rate %>&#37;</div>
</div>
<div class="flow"></div>
<div class="flow2"></div>

</div>

<br><br><br>